*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: monospace;
    font-size: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #333;
    background-color: #fafafa;
    border: 1px solid transparent;
}

h1 {
    margin-top: 52px;
    margin-bottom: 24px;
    font-size: 18px;
}

img {
    display: block;
    max-width: 100%;
}

.image {
    display: inline-block;
    width: 400px;
    padding: 8px;
    border-radius: 3px;
    margin: 10px 20px;
    background-color: #fff;
    box-shadow:
        0 15px 35px rgba(50, 50, 93, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.07);
}

.image.blurry {
    position: relative;
}

.image.blurry img {
    opacity: 0;
    transition: opacity 1s linear;
}

.image.blurry > img {
    position: absolute;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    max-height: calc(100% - 16px);
}

.image.blurry img.loaded {
    opacity: 1;
}

.image-tiny {
    width: 100%;
    overflow: hidden;
}

.image-tiny img {
    width: 100%;
    filter: blur(30px);
}

.group {
    margin: 40px 0;
}
